* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1D2133;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #D8C0BB;
	outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"), url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"), url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/pause.png"), url("./icons/pause.png"));
}

#hibernate {
    background-image: image(url("./icons/minus.png"), url("./icons/minus.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"), url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/reload.png"), url("./icons/reload.png"));
}
